@model Category
<div class="box1">
    <div class="col-sm-4" style="">
        <div class="thumbnail">
            <div class="bezos-card">
                <img id="categoryImage" src="@Model.ThumbnailImage" alt="category image" />
                <h3><a asp-controller="Product" asp-action="Index" asp-route-category="@Model.CategoryName">@Model.CategoryName</a></h3>
                <p>@Model.CategoryDescription</p>
                
            </div>
        </div>
    </div>
</div>
@* <div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <img src="@Model.ImageThumbnailUrl" alt="image for shop" />
        <div class="caption">

            <h3><a asp-controller="Category" asp-action="Details" asp-route-id="@Model.CategoryId">@Model.CategoryName</a></h3>
            
            <p>@Model.CategoryDescription</p>
            <p>@Model.Products</p>

        </div>
    </div>
</div> *@