@model Order

<div class="col-lg-6">
  <div class="thumbnail">
    <div class="bezos-card">
     <p>@Model.FirstName</p>
     <p>@Model.FirstName</p>
     <p>@Model.Address</p>
     <p>@Model.City</p>
     <p>@Model.State</p>
     <p>@Model.ZipCode</p>
     <p>@Model.PhoneNumber</p>
     <p>@Model.OrderTotal</p>
     <p>@Model.OrderPlaced</p>
    </div>
  </div>
</div>


  


