@model Product

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="bezos-card">
            @* <img id="productImage" src="@Model.ThumbnailImage" alt="product image" /> *@
            <h3><a asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId">@Model.ProductName</a></h3>
            <p>@Model.ProductDescription</p>
            
        </div>
        @* <div class="addToCart">
            <p class="button">
                <a class="btn btn-primary"
                   asp-controller="ShoppingCart"
                   asp-action="AddToShoppingCart"
                   asp-route-ProductId="@Model.ProductId">Add to Cart</a>
            </p>
        </div> *@
    </div>
</div>